body{
    font-family: Comic Sans MS;
    background-color: #dcdcdc;
}

h1, h3{
    font-family: Gabriola;
    background-color: #c4c4c4;
}

img{
    height: 128px;
}

.l1{
    background-color: #546978;
}

.l2{
    background-color: #cab278;
}

.d1{
    background-color: #7890ca;
}

.d2{
    background-color: #a8fe7e;
}

.d3{
    background-color: #f96829;
    border-radius: 24px;
    padding: 5px;
}

.d4{
    background-color: #6829f9;
    border-radius: 24px;
    color: white;
    padding: 5px;
}

.d5{
    background-color: #ffc0cb;
}

.d6{
    background-color: #40e0d0;
    border-radius: 12px;
    padding: 10px;
}

.d7{
    background-color: #4ca3dd;
    border-radius: 12px;
    padding: 10px;
}

.d8{
    background-color: #ff7f50;
    border-radius: 80px;
    float: left;
    margin-left: 250px;
    padding: 30px;
}

.d9{
    background-color: #4ca3dd;
    border-radius: 80px;
    float: right;
    margin-right: 250px;
    padding: 30px;
}

.d10{
    background-color: #660066;
    color:white;
    padding: 30px;
}