body{
    font-family: Comic Sans MS;
    background-color: #dcdcdc;
}

h1, h3{
    font-family: Gabriola;
    background-color: #c4c4c4;
}

.profileImage{
    height: 128px;
}

.pointerCursor{
    cursor: pointer;
}

.listChild1{
    background-color: #546978;
}

.listChild2{
    background-color: #cab278;
}

.div1{
    background-color: #7890ca;
}

.div2{
    background-color: #a8fe7e;
}

.div3{
    background-color: #f96829;
    border-radius: 24px;
    padding: 5px;
}

.div4{
    background-color: #6829f9;
    border-radius: 24px;
    color: white;
    padding: 5px;
}

.div5{
    background-color: #ffc0cb;
}

.div6{
    background-color: #40e0d0;
    border-radius: 12px;
    padding: 10px;
}

.div6Legend{
    background-color: #40e0d0;
    border-radius: 12px;
    float: left;
    width: 8%;
    padding-left: 10px;
}

.div7{
    background-color: #4ca3dd;
    border-radius: 12px;
    padding: 10px;
}

.div7Legend{
    background-color: #4ca3dd;
    border-radius: 12px;
    float: left;
    width: 6%;
    padding-left: 15px;
}

.div8{
    background-color: #ff7f50;
    border-radius: 80px;
    float: left;
    margin-left: 250px;
    padding: 30px;
}

.div9{
    background-color: #4ca3dd;
    border-radius: 80px;
    float: right;
    margin-right: 250px;
    padding: 30px;
}

.div10{
    background-color: #660066;
    color:white;
    padding: 30px;
}
